@import url('https://fonts.googleapis.com/css?family=Muli:200,400,600,800,900&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
}

button {
    font-family: 'Muli', sans-serif;
    font-weight: 800;
}

input {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: '1.6rem'
}

.srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}